Version 1.1.0

# Mean encodings

In this programming assignment you will be working with `1C` dataset from the final competition. You are asked to encode `item_id` in 4 different ways:

    1) Via KFold scheme;  
    2) Via Leave-one-out scheme;
    3) Via smoothing scheme;
    4) Via expanding mean scheme.

**You will need to submit** the correlation coefficient between resulting encoding and target variable up to 4 decimal places.

### General tips

* Fill NANs in the encoding with `0.3343`.
* Some encoding schemes depend on sorting order, so in order to avoid confusion, please use the following code snippet to construct the data frame. This snippet also implements mean encoding without regularization.

In [1]:
import pandas as pd
import numpy as np
from itertools import product
from grader import Grader

# Read data

In [2]:
sales = pd.read_csv('../readonly/final_project_data/sales_train_v2.csv')

# Aggregate data

Since the competition task is to make a monthly prediction, we need to aggregate the data to montly level before doing any encodings. The following code-cell serves just that purpose.

In [3]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in sales['date_block_num'].unique():
    cur_shops = sales[sales['date_block_num']==block_num]['shop_id'].unique()
    cur_items = sales[sales['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

#turn the grid into pandas dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

#get aggregated values for (shop_id, item_id, month)
gb = sales.groupby(index_cols,as_index=False).agg({'item_cnt_day':{'target':'sum'}})

#fix column names
gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
#join aggregated data to the grid
all_data = pd.merge(grid,gb,how='left',on=index_cols).fillna(0)
#sort the data
all_data.sort_values(['date_block_num','shop_id','item_id'],inplace=True)

/Users/antelinvestigacionydesarrollo/anaconda3/envs/cursods/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

# Mean encodings without regularization

After we did the techinical work, we are ready to actually *mean encode* the desired `item_id` variable. 

Here are two ways to implement mean encoding features *without* any regularization. You can use this code as a starting point to implement regularized techniques.

#### Method 1

In [4]:
all_data.head()

        shop_id  item_id  date_block_num  target
139255        0       19               0     0.0
141495        0       27               0     0.0
144968        0       28               0     0.0
142661        0       29               0     0.0
138947        0       32               0     6.0

In [5]:
all_data.target.mean()

0.3342730567123426

In [6]:
# Calculate a mapping: {item_id: target_mean}
item_id_target_mean = all_data.groupby('item_id').target.mean()

# In our non-regularized case we just *map* the computed means to the `item_id`'s
all_data['item_target_enc'] = all_data['item_id'].map(item_id_target_mean)

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.4830386988621791

#### Method 2

In [7]:
'''
     Differently to `.target.mean()` function `transform` 
   will return a dataframe with an index like in `all_data`.
   Basically this single line of code is equivalent to the first two lines from of Method 1.
'''
all_data['item_target_enc'] = all_data.groupby('item_id')['target'].transform('mean')

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.4830386988621791

See the printed value? It is the correlation coefficient between the target variable and your new encoded feature. You need to **compute correlation coefficient** between the encodings, that you will implement and **submit those to coursera**.

In [8]:
grader = Grader()

# 1. KFold scheme

Explained starting at 41 sec of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

**Now it's your turn to write the code!** 

You may use 'Regularization' video as a reference for all further tasks.

First, implement KFold scheme with five folds. Use KFold(5) from sklearn.model_selection. 

1. Split your data in 5 folds with `sklearn.model_selection.KFold` with `shuffle=False` argument.
2. Iterate through folds: use all but the current fold to calculate mean target for each level `item_id`, and  fill the current fold.

    *  See the **Method 1** from the example implementation. In particular learn what `map` and pd.Series.map functions do. They are pretty handy in many situations.

In [9]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=False, random_state=2019)

new_data = list()
for idx_train, idx_val in kf.split(all_data):
    train_data = all_data.iloc[idx_train]
    val_data = all_data.iloc[idx_val].copy()
    item_id_target_mean = train_data.groupby('item_id').target.mean()
    val_data['item_target_enc'] = val_data['item_id'].map(item_id_target_mean)
    new_data.append(val_data)

all_data = pd.concat(new_data)

# Fill NaNs
all_data['item_target_enc'].fillna(all_data.target.mean(), inplace=True)

encoded_feature = all_data['item_target_enc'].values

# You will need to compute correlation like that
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('KFold_scheme', corr)

0.41645904885340546
Current answer for task KFold_scheme is: 0.41645904885340546

# 2. Leave-one-out scheme

Now, implement leave-one-out scheme. Note that if you just simply set the number of folds to the number of samples and run the code from the **KFold scheme**, you will probably wait for a very long time. 

To implement a faster version, note, that to calculate mean target value using all the objects but one *given object*, you can:

1. Calculate sum of the target values using all the objects.
2. Then subtract the target of the *given object* and divide the resulting value by `n_objects - 1`. 

Note that you do not need to perform `1.` for every object. And `2.` can be implemented without any `for` loop.

It is the most convenient to use `.transform` function as in **Method 2**.

In [10]:
all_data['item_target_enc'] = all_data.groupby('item_id')['target'].transform(
    lambda x: (x.sum() - x) / (x.shape[0] - 1)
)
encoded_feature = all_data['item_target_enc'].values

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Leave-one-out_scheme', corr)

0.480384831129305
Current answer for task Leave-one-out_scheme is: 0.480384831129305

# 3. Smoothing

Explained starting at 4:03 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Next, implement smoothing scheme with $\alpha = 100$. Use the formula from the first slide in the video and $0.3343$ as `globalmean`. Note that `nrows` is the number of objects that belong to a certain category (not the number of rows in the dataset).

In [11]:
alpha = 100
global_mean = 0.3343
n_rows = all_data.groupby('item_id').target.count()
means = all_data.groupby('item_id').target.mean()

smooth_means = (means * n_rows + alpha * global_mean) / (n_rows + alpha)

all_data['item_target_enc'] = all_data.item_id.map(smooth_means)
encoded_feature = all_data['item_target_enc']

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Smoothing_scheme', corr)

0.4818198797097282
Current answer for task Smoothing_scheme is: 0.4818198797097282

# 4. Expanding mean scheme

Explained starting at 5:50 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Finally, implement the *expanding mean* scheme. It is basically already implemented for you in the video, but you can challenge yourself and try to implement it yourself. You will need [`cumsum`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.cumsum.html) and [`cumcount`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.cumcount.html) functions from pandas.

In [39]:
all_data.head()

   shop_id  item_id  date_block_num  target  item_target_enc
0        0       19               0     0.0         0.727273
1        1       19               0     0.0         0.727273
2        2       19               0     0.0         0.727273
3        3       19               0     0.0         0.727273
4        4       19               0     0.0         0.727273

In [40]:
agg_target = all_data.groupby(['item_id', 'date_block_num']).target.sum()
agg_target = agg_target.reset_index().rename(columns={'target': 'agg_target'})

   shop_id  item_id  date_block_num  target  item_target_enc  agg_target
0        0       19               0     0.0         0.727273         1.0
1        1       19               0     0.0         0.727273         1.0
2        2       19               0     0.0         0.727273         1.0
3        3       19               0     0.0         0.727273         1.0
4        4       19               0     0.0         0.727273         1.0

In [62]:
agg_target.head(20)

    item_id  date_block_num  agg_target     means
0         0              20         1.0       NaN
1         1              15         2.0       NaN
2         1              18         1.0  2.000000
3         1              19         1.0  1.500000
4         1              20         1.0  1.333333
5         1              21         1.0  1.250000
6         2              19         1.0       NaN
7         2              22         1.0  1.000000
8         3              18         1.0       NaN
9         3              19         1.0  1.000000
10        4              20         1.0       NaN
11        5              23         1.0       NaN
12        6              18         1.0       NaN
13        7              23         1.0       NaN
14        8              19         1.0       NaN
15        8              20         1.0  1.000000
16        9              19         1.0       NaN
17       10              24         1.0       NaN
18       11              22         1.0       NaN
19       12               1         1.0       NaN

In [53]:
sums = agg_target.groupby('item_id').agg_target.cumsum() - agg_target.agg_target
counts = agg_target.groupby('item_id').agg_target.cumcount()
means = sums / counts
means.head()

0         NaN
1         NaN
2    2.000000
3    1.500000
4    1.333333
dtype: float64

In [54]:
agg_target['means'] = means
agg_target.head()

   item_id  date_block_num  agg_target     means
0        0              20         1.0       NaN
1        1              15         2.0       NaN
2        1              18         1.0  2.000000
3        1              19         1.0  1.500000
4        1              20         1.0  1.333333

In [55]:
all_data = all_data.merge(agg_target, on=['item_id', 'date_block_num'])
all_data.head()

,shop_id,item_id,date_block_num,target,item_target_enc,agg_target_x,agg_target_y,means
0,0,19,0,0.0,1.0,1.0,1.0,NaN
1,1,19,0,0.0,1.0,1.0,1.0,NaN
2,2,19,0,0.0,1.0,1.0,1.0,NaN
3,3,19,0,0.0,1.0,1.0,1.0,NaN
4,4,19,0,0.0,1.0,1.0,1.0,NaN

In [56]:
all_data['item_target_enc'] = all_data['means']

In [61]:
all_data['means'].isnull().mean()

0.09194619680497716

In [57]:
# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

encoded_feature = all_data['item_target_enc']

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Expanding_mean_scheme', corr)

0.40983264697676713
Current answer for task Expanding_mean_scheme is: 0.40983264697676713

In [63]:
encode_feats = ['item_id']
target = 'target'
global_mean = 0.3343

for feat in encode_feats:
    new_feat = feat + '_' + target + '_enc'
    grouped = all_data.groupby(feat)
    all_data[new_feat] = grouped.expanding(1).mean().reset_index(0, drop=True)
    # Fill NaNs
    all_data[new_feat].fillna(global_mean, inplace=True)

encoded_feature = all_data['item_id_target_enc']
    
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Expanding_mean_scheme', corr)

ValueError: Wrong number of items passed 8, placement implies 1

## Authorization & Submission
To submit assignment parts to Cousera platform, please, enter your e-mail and token into variables below. You can generate token on this programming assignment page. Note: Token expires 30 minutes after generation.

In [58]:
STUDENT_EMAIL = 'miguel.tasende@gmail.com'
STUDENT_TOKEN = 'tPB5z0nKQLY3jnOL'
grader.status()

You want to submit these numbers:
Task KFold_scheme: 0.41645904885340546
Task Leave-one-out_scheme: 0.480384831129305
Task Smoothing_scheme: 0.4818198797097282
Task Expanding_mean_scheme: 0.40983264697676713

In [59]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Submitted to Coursera platform. See results on assignment page!